[submodule "lib/sorted_hash"]
	path = lib/sorted_hash
	url = git://github.com/michael/sorted_hash.git
[submodule "lib/node"]
	path = lib/node
	url = git://github.com/michael/node.git
[submodule "lib/proto"]
	path = lib/proto
	url = git://github.com/creationix/proto.git
[submodule "lib/redis-node-client"]
	path = lib/redis-node-client
	url = http://github.com/fictorial/redis-node-client.git
