body { margin: 0; padding: 30px; color: #252519; font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif; }

a { color: #252519; }
a:hover { text-decoration: underline; color: #19469D; }